{% extends "base.html" %}
{% block title %}CVE List{% endblock %}

{% block content %}
<div class="container my-3">
    <h1 class="text-center">List of CVEs</h1>
    <br>
    <form id="filterForm" method="GET" action="/cves/list">
        <div class="row">
            <div class="col-md-3">
                <label for="filterType" class="form-label">Filter By</label>
                <select id="filterType" class="form-select" name="filterType" required>
                    <option value="">Choose...</option>
                    <option value="cveid">CVE ID</option>
                    <option value="year">Published Year</option>
                    <option value="lastModified">Last Modified (Days Ago)</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="filterValue" class="form-label">Filter Value</label>
                <input type="text" id="filterValue" class="form-control" name="filterValue" placeholder="Enter value">
            </div>
            <div class="col-md-3 align-self-end">
                <button type="submit" class="btn btn-primary">Apply</button>
            </div>
        </div>
    </form>
    <br>
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th>CVE ID</th>
                <th>Identifier</th>
                <th>Published Date</th>
                <th>Last Modified</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for cve in cve_data %}
            <tr class="clickable-row" data-id="{{ cve.id }}">
                <td>{{ cve.id }}</td>
                <td>{{ cve.identifier }}</td>
                <td>{{ cve.published_date or 'N/A' }}</td>
                <td>{{ cve.last_modified or 'N/A' }}</td>
                <td>{{ cve.status or 'N/A' }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="d-flex justify-content-center">
        <div>
            {% if page > 1 %}
                <a href="{{ url_for('cves_list', page=page - 1) }}">Previous</a>
            {% endif %}
            <span>Page {{ page }} of {{ total_pages }}</span>
            {% if page < total_pages %}
                <a href="{{ url_for('cves_list', page=page + 1) }}">Next</a>
            {% endif %}
        </div>
    </div>
</div>

<script>
    // click event listener
    document.addEventListener("DOMContentLoaded", () => {
        const rows = document.querySelectorAll(".clickable-row");
        rows.forEach(row => {
            row.addEventListener("click", () => {
                const cveId = row.getAttribute("data-id");
                if (cveId) {
                    // Redirect
                    window.location.href = `/cves/list/${cveId}`;
                }
            });
        });
    });
</script>
{% endblock %}