{% extends "base.html" %}

{% block title %}
CVE List
{% endblock %}

{% block content %}
<div class="container my-4">
    <h1 class="text-center">List of CVEs</h1>
    <br>
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th>CVE ID</th>
                <th>Source Identifier</th>
                <th>Published Date</th>
                <th>Modified Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for cve in cve_data %}
            <tr>
                <td>{{ cve.id }}</td>
                <td>{{ cve.identifier }}</td>
                <td>{{ cve.published_date or 'N/A' }}</td>
                <td>{{ cve.last_modified or 'N/A' }}</td>
                <td>{{ cve.status }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
