{% extends "base.html" %}

{% block title %}
CVE Details
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="my-5">{{ cve_data.id }}</h1>
    <h2>Description:</h2>
    <p>The debug command in Sendmail is enabled, allowing attackers to execute commands as root.</p>
    <h2>Metrics</h2>
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th>Published Date</th>
                <th>Last Modified</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ cve_data.published_date }}</td>
                <td>{{ cve_data.last_modified }}</td>
                <td>{{ cve_data.status }}</td>
            </tr>
        </tbody>
    </table>

    <h2>Score</h2>
    <h3>CPC:</h3>
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th>Base Score</th>
                <th>Exploitability Score</th>
                <th>Impact Score</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ cve_data.baseScore }}</td>
                <td>{{ cve_data.exploitability_score }}</td>
                <td>{{ cve_data.authentication }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
